# .NET Build Artifacts
**/bin/
**/obj/
*.user
*.suo
*.cache
.vs/
*.DotSettings.user

# NuGet
*.nupkg
**/packages/
!**/packages/build/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# Build Output
out/
*.zip

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# IDE
.vscode/settings.json
